.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1024px;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.product-item-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.product-item-content {
  padding: 0.4rem;
  min-height: 100px;
  position: relative;
  width: 100%;
}

.product-item-name {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
}

.product-item-price {
  margin: 0;
  margin-top: 0.4rem;
  font-weight: 300;
}

.product-cart-button {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0.4rem;
  border: none;
  outline: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border-radius: 5px;
}

.product-cart-button:hover {
  background: #09f;
  color: #fff;
}