<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Produk</title>
</head>

<body>
   <h1>Produk EJS</h1>
   <img src="http://localhost:4000/images/boruto.jpg" />
   <hr />
   <form method="post" action="/produk">
      <input name="nama_produk" placeholder="Nama Produk" /><br />
      <input type="number" name="harga" placeholder="Harga" /><br />
      <button>Submit</button>
   </form>
   <hr />
</body>

</html>